# 忽略所有文件（包括隐藏文件）
*
.*
file2base64
json
qr


# 但不忽略需要同步的文件夹（用!排除）
!.gitignore
!base64
!base64/*
!code-formatting
!code-formatting/*
!encoding
!encoding/*
!hash
!hash/*
!zip-base64
!zip-base64/*
!diff
!diff/*
!timestamp
!timestamp/*
!ip
!ip/*
!rain
!rain/*
!fontawesome
!fontawesome/*
!md
!md/*
!input
!input/*
!ofd
!ofd/*
!bill2word
!bill2word/*


